.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  margin: 91px 0 0;
}

@media (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 14px;
    margin: 91px 48px 0;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 88px 24px 0;
    grid-gap: 16px;
  }
}

@media (max-width: 320px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 12px;
    margin: 64px 16px 0;
  }
}