.places {
  margin: 95px 0 0 101px;
  /* padding: 0 148px; */
  /* box-sizing: border-box; */
  max-width: 984px;
}

@media (max-width: 1024px) {
  .places {
      margin: 95px 0 0 47px;
      max-width: 928px;
  }
}

@media (max-width: 768px) {
  .places {
      margin: 88px 0 24px 24px;
      max-width: 720px;
  }
}

@media (max-width: 320px) {
  .places {
      margin: 64px 0 26px 0;
      max-width: 320px;
  }
}

