.places {
  max-width: 984px;
  margin: 95px 0 0 6%;
}

@media (max-width: 1024px) {
  .places {
    margin: 95px auto 0;
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .places {
    margin: 88px auto 24px;
    max-width: 720px;
  }
}

@media (max-width: 320px) {
  .places {
    margin: 64px auto 26px;
    max-width: 320px;
  }
}