.place__image {
  max-width: 460px;
  object-fit: contain;
  margin: 0 40px 0 0;
}

@media (max-width: 1024px) {
  .place__image {
    max-width: 440px;
    align-self: flex-start;
    margin: 0 34px 0 0;
  }
}

@media (max-width: 768px) {
  .place__image {
    max-width: 340px;
    margin: 0;
    align-self: flex-start;
  }
}

@media (max-width: 670px) {
  .place__image {
    margin: 0 0 0 17px;
  }
}

@media (max-width: 350px) {
  .place__image {
    max-width: 100%;
    margin: 0 auto;
  }
}