.header__lang {
  font-size: 25px;
  margin-top: 16px;
  width: 76px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .header__lang {
    margin-top: 20px;
  }
}

@media (max-width: 320px) {
  .header__lang {
    width: 63px;
    margin-top: 17px;
  }
}