.cover__subtitle {
    font-weight: 400;
    font-size: 18px;
    max-width: 360px;
    line-height: 22px;
    position: absolute;
    bottom: 30%;
    text-align: center;
    z-index: 3;
    right: 36%;
}

@media (max-width: 1024px) {
    .cover__subtitle {
        top: 56%;
        width: 36%;
        right: 33%;
    }
}

@media (max-width: 768px) {
    .cover__subtitle {
        width: 50%;
        top: 58%;
        left: 27%;
    }
}

@media (max-width: 320px) {
    .cover__subtitle {
        width: 87%;
        bottom: 14%;
        left: 7%;
        font-size: 14px;
        line-height: 16px;
        margin: 0;

    }
}