.header {
  display: flex;
  justify-content: space-between;
  padding: 28px 0px 0;

}

@media (max-width: 1024px) {
  .header {
    padding: 28px 48px 0;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 28px 24px 0;
  }
}

@media (max-width: 320px) {
  .header {
    padding: 17px 16px 0 16px;
  }
}