.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  max-width: 720px;
  text-align: center;
  margin: 0px 0px 0px 107px;
}

@media (max-width: 1024px) {
  .lead__title {
    margin: 0px 0px 0px 104px;
  }
}

@media (max-width: 768px) {
  .lead__title {
    margin: -9px 0px 0px 23px;
  }
}

@media (max-width: 767px) {
  .lead__title {
    font-size: 56px;
  }
}

@media (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
  }
}