.intro {
  margin: 93px auto 0;
  max-width: 984px;
  padding: 0;
}


@media (max-width: 1024px) {
  .intro {
    margin: 94px 0 0 47px;
    max-width: 690px;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .intro {
    margin: 94px auto 0;
    max-width: 720px;
    padding: 0;
  }
}

@media (max-width: 320px) {
  .intro {
    margin: 65px auto 0;
    max-width: 288px;
    padding: 0;
  }
}