.cover {
  background-image: url(/images/cover-trains.jpg);
  width: 1184px;
  height: 740px;
  object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.cover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  transition: opacity 1s;
  opacity: 0.3;
 }


.cover:hover:before {
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .cover {
    width: 1024px;
    height: 640px;
    object-fit: contain;
    margin: 91px 0 0 0;
  }
}

@media (max-width: 768px) {
  .cover {
    width: 768px;
    height: 480px;
    object-fit: contain;
    margin: 72px 0 0 0;
  }
}

@media (max-width: 767px) {
  .cover {
    font-size: 56px;
  }
}

@media (max-width: 320px) {
  .cover {
    font-size: 40px;
    line-height: 44px;
    width: 320px;
    height: 200px;
    object-fit: contain;
    margin: 41px 0 0 0;
  }
}