.lead__caption {
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
  margin: 4px 0 0 0;
}

@media (max-width: 1024px) {
  .lead__caption {
    margin: 4px 0 0 0;
  }
}

@media (max-width: 768px) {
  .lead__caption {
    margin: 12px 0 0 22px;
  }
}

@media (max-width: 320px) {
  .lead__caption {
    margin: 4px 0 0 15px;
  }
}