.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    position: absolute;
    top: 33%;
    z-index: 3;
    max-width: 560px;
    left: 26%;
    text-align: center;
}

@media (max-width: 1024px) {
    .cover__title {
        top: 31%;
        left: 25%;
        width: 50%;
    }
}

@media (max-width: 890px) {
    .cover__title {
        width: 70%;
        left: 15%;
    }
}

@media (max-width: 768px) {
    .cover__title {
        font-size: 72px;
        top: 22%;
        left: 15%;
        width: 70%;
        line-height: 78px;
    }
}

@media (max-width: 650px) {
    .cover__title {
        font-size: 41px;
        line-height: 47px;
        width: 70%;
        top: 39%;
    }
}

@media (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        max-width: 288px;
        line-height: 35px;
        top: 16%;
    }
}