.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    z-index: 1;
    max-width: 560px;
    text-align: center;
    margin: 244px auto 0;
    position: relative;
}

@media (max-width: 1024px) {
    .cover__title {
        width: 50%;
        margin: 192px auto 0;
    }
}

@media (max-width: 890px) {
    .cover__title {
        width: 70%;
        margin: 111px auto 0;
    }
}

@media (max-width: 768px) {
    .cover__title {
        font-size: 72px;
        width: 70%;
        line-height: 78px;
    }
}

@media (max-width: 650px) {
    .cover__title {
        font-size: 41px;
        line-height: 47px;
        width: 70%;
    }
}

@media (max-width: 340px) {
    .cover__title {
        font-size: 32px;
        max-width: 288px;
        line-height: 35px;
        margin: 33px auto 0;
    }
}