.footer__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .footer__list {
    margin: 0 0 0 4px;
  }
}

@media (max-width: 650px) {
  .footer__list {
    margin: 4px auto 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}