.place {
  margin: 0 auto 81px;
  max-width: 928px;
}

@media (max-width: 1024px) {
  .place {
    margin: 0 auto 74px;
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .place {
    margin: 0 auto 49px;
    max-width: 720px;
  }
}

@media (max-width: 320px) {
  .place {
    margin: 0 auto 31px;
    max-width: 320px;
  }
}