.cover {
    margin-top: 110px;
}

.cover:hover {
    cursor: pointer;
}

.cover:hover .cover__container::before {
    opacity: 0.4;
    transition: opacity 0.3s linear;
}

@media (max-width: 1024px) {
    .cover {
        margin-top: 90px;
    }
}

@media (max-width: 768px) {
    .cover {
        margin-top: 139px;
    }
}

@media (max-width: 320px) {
    .cover {
        margin-top: 20px;
    }
}