.place__website {
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 456px;
  margin: 0 0 0 8px;
}

@media (max-width: 1024px) {
  .place__website {
    margin: 0 0 0 9px;
  }
}

@media (max-width: 768px) {
  .place__website {
    max-width: 352px;
    margin-left: 26px;
  }
}

@media (max-width: 320px) {
  .place__website {
    max-width: 288px;
    margin: 37px 0 0 16px;
  }
}