.place__website-url {
font-weight: 400;
font-size: 12px;
line-height: 20px;
letter-spacing: 2px;
color: #aaa;
text-transform: uppercase;
margin: 0 0 9px;
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {
  line-height: 12px;
}

@media (max-width: 320px) {}